* {
  align-content: center;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
}

.app {
  height: 100vh;
}

.sections {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #f9eae1;
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #7d4f50;
  color: #f9eae1;
  position: fixed;
  top: 0;
  z-index: 2;
  cursor: pointer;
}

.wrapper {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  margin-right: 0.5rem;
  justify-content: center;
  align-items: center;
}

.home-nav {
  text-decoration: none;
  color: inherit;
  margin-left: 30rem;
}

.about-nav {
  text-decoration: none;
  color: inherit;
  margin-left: 0.7rem;
}

.portfolio-nav {
  text-decoration: none;
  color: inherit;
  margin-left: 0.7rem;
}

.portfolio-info-nav {
  text-decoration: none;
  color: inherit;
  margin-left: 0.7rem;
}

.resume-nav {
  text-decoration: none;
  color: inherit;
  margin-left: 0.7rem;
}

.contact-nav {
  text-decoration: none;
  color: inherit;
  margin-left: 0.7rem;
}

.home {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}

.about {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}

.home-info {
  display: flex;
  overflow: hidden;
}

.home-left {
  flex: 0.5;
  background-color: #f9eae1;
}

.imgContainer {
  width: 700px;
  height: 700px;
  background-color: #cc8b86;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: 115px;
  margin-top: 50px;
}

.profile-img {
  width: 45%;
  margin-left: 3rem;
}

.home-right {
  flex: 0.5;
  background-color: #d1be9c;
  position: relative;
  margin-top: 50px;
  margin-right: 50px;
  border-radius: 2%;
}

.wrapper-home {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

h2,
h4 {
  margin-top: 6rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: 600;
  margin-right: 25px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 60px;
  margin: 10px 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}

h3 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

h5 {
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  color: white;
  background-color: #cc8b86;
  border-radius: 5px;
  width: 60%;
  font-size: 20px;
  font-weight: 400;
  z-index: 1;
  opacity: 0.8;
}

.down-arrow {
  margin-top: 5rem;
  margin-left: 1rem;
}

.name {
  font-size: 27px;
  font-weight: 400;
}

.desc {
  font-style: italic;
}

.portfolio {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}

.portfolio-info {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}

.portfolio-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.port-list {
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;
}

.port-items {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 0.7;
}

.container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  width: 250px;
  height: 200px;
  border-radius: 15px;
  border: 1px solid #aa998f;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.quiz {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.7;
}

.workout {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.7;
}

.note {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.7;
}

.shutter {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.7;
}

.schedule {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.7;
}

.item:hover {
  background-color: #cc8b86;
  opacity: 0.5;
}

.info-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-left: 250px;
}

.info-list {
  width: 220px;
  height: 200px;
  border-radius: 15px;
  border: 1px solid #aa998f;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  font-size: 14px;
  margin-top: 30px;
  background-color: #aa998f;
  color: #f9eae1;
}

.info {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-style: italic;
}

.text {
  text-align: center;
  margin-right: 25px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.resume {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}

.contact {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}

.contact-form {
  font-family: "Courier New", Courier, monospace;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.contact-title {
  margin-top: 50px;
}

form {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 300px;
  height: 40px;
  font-size: 14px;
  border: 2px solid #7d4f50;
  border-radius: 10px;
}

textarea {
  width: 300px;
  height: 250px;
  font-size: 14px;
  border: 2px solid #7d4f50;
  border-radius: 10px;
}

.button {
  color: #f9eae1;
  background-color: #cc8b86;
  border: 2px solid #7d4f50;
  border-radius: 10px;
}

.resume-info {
  font-style: italic;
  font-size: 30px;
  margin-top: 200px;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #7d4f50;
  position: fixed;
  bottom: 0;
  z-index: 2;
  color: #f9eae1;
  font-size: 14px;
  justify-content: center;
}
